---
import {Image} from 'astro:assets';
import Logo from '@/assets/shared/desktop/logo.svg';
import HumburgerIcon from '@/assets/shared/mobile/icon-hamburger.svg';
import CloseIcon from '@/assets/shared/mobile/icon-close.svg';
---

<header class='relative flex items-center justify-between'>
  <!-- Logo -->
  <a href='/' class='cursor-pointer'>
    <Image src={Logo} alt='Coffeeroasters Logo.' width={163} />
  </a>
  <!-- Humburger Icon To Open Mobile Menu -->
  <Image
    src={HumburgerIcon}
    alt='Open Mobile Menu Bar.'
    class={'sm:hidden cursor-pointer'}
    id={'OpenMenu'}
  />
  <!-- Close Icon To Close Mobile Menu -->
  <Image
    src={CloseIcon}
    alt='Close Mobile Menu Bar.'
    class={'hidden cursor-pointer'}
    id={'CloseMenu'}
  />
  <!-- Tablet & Desktop Menu -->
  <nav class='hidden sm:block'>
    <ul class='flex items-center justify-between gap-[2.06rem]'>
      <li>
        <a
          href='/'
          class='cursor-pointer font-Barlow text-xs font-bold uppercase leading-[0.9375rem] tracking-[0.05769rem] text-[#83888F] transition-all duration-300 ease-in-out hover:text-[#333D4B]'
          >Home</a
        >
      </li>
      <li>
        <a
          href='/about'
          class='cursor-pointer font-Barlow text-xs font-bold uppercase leading-[0.9375rem] tracking-[0.05769rem] text-[#83888F] transition-all duration-300 ease-in-out hover:text-[#333D4B]'
          >About us</a
        >
      </li>
      <li>
        <a
          href='/plan'
          class='cursor-pointer font-Barlow text-xs font-bold uppercase leading-[0.9375rem] tracking-[0.05769rem] text-[#83888F] transition-all duration-300 ease-in-out hover:text-[#333D4B]'
          >Create your plan</a
        >
      </li>
    </ul>
  </nav>
  <!-- Mobile Menu -->
  <nav
    class='absolute left-0 top-[5.63rem] hidden h-[36.0625rem] w-full'
    id='MobileMenu'
  >
    <ul
      class='flex flex-col items-center justify-center gap-8 pt-10 text-center'
    >
      <li>
        <a
          href='/'
          class='cursor-pointer text-2xl font-black uppercase leading-8 text-[#333D4B]'
          >Home</a
        >
      </li>
      <li>
        <a
          href='/about'
          class='cursor-pointer text-2xl font-black uppercase leading-8 text-[#333D4B]'
          >About Us</a
        >
      </li>
      <li>
        <a
          href='/plan'
          class='cursor-pointer text-2xl font-black uppercase leading-8 text-[#333D4B]'
          >Create your plan</a
        >
      </li>
    </ul>
  </nav>
</header>

<style is:global>
  #MobileMenu {
    background: linear-gradient(
      180deg,
      rgba(254, 252, 247, 0.5) 0%,
      #fefcf7 55.94%
    );
  }
</style>

<script is:inline>
  const OpenMenu = document.getElementById('OpenMenu');
  const CloseMenu = document.getElementById('CloseMenu');
  const MobileMenu = document.getElementById('MobileMenu');
  OpenMenu.addEventListener('click', () => {
    MobileMenu.classList.remove('hidden');
    CloseMenu.classList.remove('hidden');
    OpenMenu.classList.add('hidden');
  });
  CloseMenu.addEventListener('click', () => {
    MobileMenu.classList.add('hidden');
    CloseMenu.classList.add('hidden');
    OpenMenu.classList.remove('hidden');
  });
</script>
