<section
  class='mt-10 flex h-[31.25rem] w-full flex-col items-center justify-center gap-[2.44rem] rounded-[0.625rem] bg-[url(/src/assets/home/mobile/image-hero-coffeepress.jpg)] bg-cover bg-center bg-no-repeat text-center text-[#FEFCF7] sm:mt-[4.5rem] sm:h-[35rem] sm:items-start sm:bg-[url(/src/assets/home/tablet/image-hero-coffeepress.jpg)] sm:pl-[3.63rem] sm:text-left xl:mt-12 xl:h-[42rem] xl:bg-[url(/src/assets/home/desktop/image-hero-coffeepress.jpg)] xl:pl-[5.38rem]'
>
  <div class='space-y-6'>
    <h1
      class='w-[17.4375rem] font-Fraunces text-[2.5rem] font-black leading-10 sm:w-[24.875rem] sm:text-5xl sm:leading-[3rem] xl:w-[28.875rem] xl:text-[4.5rem] xl:leading-[4.5rem]'
    >
      Great coffee made simple.
    </h1>
    <p
      class='w-[17.4375rem] font-Barlow text-[0.9375rem] font-normal leading-[1.5625rem] opacity-80 sm:w-[24.875rem] xl:w-[27.8125rem]'
    >
      Start your mornings with the world&#39;s best coffees. Try our expertly
      curated artisan coffees from our best roasters delivered directly to your
      door, at your schedule.
    </p>
  </div>
  <a
    href='/plan'
    class='tranistion-all flex h-14 w-[13.5625rem] cursor-pointer items-center justify-center rounded-[0.375rem] border-none bg-[#0E8784] text-center font-Fraunces text-lg font-black leading-[1.5625rem] text-[#FEFCF7] outline-none duration-300 ease-in-out hover:bg-[#66D2CF]'
    >Craete your paln</a
  >
</section>
